---

- name: Configure /etc/network/interfaces
  template:
    src: interfaces.j2
    dest: /etc/network/interfaces
    owner: root
    group: root
    mode: '0644'

- name: Configure /etc/resolv.conf
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
    content: |
      {% for server in dns_servers %}
      nameserver {{ server }}
      {% endfor %}

- name: Restart Server
  ansible.builtin.reboot:
    reboot_timeout: 30 
